table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #4CAF50;
  color: white;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: grey;
}

tr:hover {
	background-color: #4CAF50;
}

table, th, td {
  border: 1px solid black;
}

body {
  background-color: lightblue;
}

h2 {
	text-align: center;
	background-color: white;
	font-size: 60px;
	font-family: fantasy;
}